DB_USER=postgres
DB_HOST=localhost
DB_NAME=tutorblog
DB_PASSWORD=
DB_PORT=5432

SESSION_SECRET=9cbX/pVTioi7Hwj8Vz+0YgerlOYoJkjunCKg7709rKw=
ENCRYPTION_KEY=6lEwQuBLRI1xiZOxo5ymdnphMefroVwtyd0uKb2lA9Y=
